p{
    color:rgb(90, 56, 25);
    font-size:large;
    font-family: "Updock"

}
body{
    color:rgb(138, 90, 72);
    background-color: rgb(212, 191, 173);
}
img{
    width: 300px
}

.font1

 {
      font-family: "Updock", cursive;
        font-weight: 400;
        font-style: normal;
        font-size:xx-large
}

div{
        max-width: 600px; 
        margin: auto
}


