p{
    color:rgb(126, 189, 107);
    font-size:large;
    font-family: "Updock"

}
body{
    color:rgb(144, 199, 130);
    background-color: rgb(223, 245, 213);
}
img{
    width: 300px
}

.font1

 {
      font-family: "Updock", cursive;
        font-weight: 400;
        font-style: normal;
        font-size:xx-large
}

div{
        max-width: 600px; 
        margin: auto
}


